@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section {
        @apply relative md:py-24 z-10;
    }
    .container {
        @apply mx-auto px-5 sm:px-20 md:px-28 w-full max-w-[120rem];
    }
    body {
        @apply font-inter;
    }
}

swiper-container,
swiper-slide {
    overflow: visible !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/* #app [id^="translation-"] {
    height: 0;
    overflow: hidden;
} */
