@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-inter;
    }
    .section {
        @apply relative py-14 md:py-24 z-10;
    }
    .form-label {
        @apply block text-base leading-6 md:text-[1.25rem] md:leading-6 mb-2 text-theme-blue-dark;
    }
    .form-input {
        @apply w-full bg-theme-warm h-12 px-4 rounded-xl rounded-tl-none;
    }
    .container {
        @apply mx-auto px-5 md:px-20 lg:px-28 !w-full !max-w-[120rem];
    }
    .section-title {
        @apply text-[2rem] leading-[2.5rem]  md:text-[3.5rem] md:leading-[4rem] tracking-[0.07em]  font-[700] mb-8;
    }
    p + p {
        @apply mt-6;
    }

    .fade-enter-active,
    .fade-leave-active {
        @apply transition-opacity duration-[5000] ease-in-out;
    }
    .fade-enter-from,
    .fade-leave-to {
        @apply opacity-0;
    }

    .bm-burger-button {
        @apply hidden;
    }
    footer {
        button,
        a {
            @apply transition-all duration-500 hover:opacity-50;
        }
    }
}

swiper-container,
swiper-slide {
    overflow: visible !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.bm-burger-button {
    @apply hidden;
}
.bm-menu {
    @apply !bg-theme-blue;
}
.bm-cross {
    @apply !w-1 !h-6 !bg-white !top-5 !right-7;
}
